<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Insert New or Edit Player</title>


<style>

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
  }
  
  #panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>

$(document).ready(function(){
	  $("#flip").click(function(){
	    $("#panel").slideDown("slow");
	  
	  });
	});
	
$(document).ready(function(){
	  $("#flip").mouseover(function(){
	    $("#panel").slideUp("slow");
	  
	  });
	});

  function checkForm(form)
  {
    // validation fails if the input is blank
    if(form.name.value == "" ) {
      alert("Error: Input for name is empty!");
      form.name.focus();
   return false;
    }
   
    
    else  if(form.sport.value == "") {
        alert("Error: Input for sport is empty!");
        form.sport.focus();
        return false;
      }
    else if(form.position.value == "") {
        alert("Error: Input  for postion is empty!");
        form.position.focus();
   return false;
    }
    // regular expression to match only alphanumeric characters and spaces
    var re = /^[\w ]+$/;

    // validation fails if the input doesn't match our regular expression
    if(!re.test(form.name.value)) {
      alert("Error: Input contains invalid characters!");
      form.name.focus();
      return false;
    }

    // validation was successful
    return true;
  }

 
</script>
</head>
<body>
​<div id="flip">Click to slide down panel</div>

<div  id="panel">
  <img id="my-image"  src="https://images.pexels.com/photos/260606/pexels-photo-260606.jpeg?auto=compress&cs=tinysrgb&w=400" style="width:20%">
  <img src="https://images.pexels.com/photos/2116469/pexels-photo-2116469.jpeg?auto=compress&cs=tinysrgb&w=400" style="width:20%">
  <img src="
https://images.pexels.com/photos/159603/softball-girls-softball-action-high-school-159603.jpeg?auto=compress&cs=tinysrgb&w=400
" style="width:20%">
  <img src="https://images.pexels.com/photos/163526/field-hockey-player-girls-game-163526.jpeg?auto=compress&cs=tinysrgb&w=400" style="width:30%">
  
 </div><br>
 

<form id="myForm" th:object="${newPlayer}" th:action="@{/update/{id}(id=${newPlayer.id})}" method=POST onsubmit="return checkForm(this);">

Name: <input name="name" size="20" th:field="*{name}"><br />
Position: <input name="position" size="20" th:field="*{position}"><br />
Sport : <input name="sport" size="20" th:field="*{sport}"><br />
Team Name: <input name="team.team_name" size="20" th:field="*{team.team_name}" required><br />
City: <input name="team.city" size="20" th:field="*{team.city}" required><br />
State /Country: <input name="team.state" size="20" th:field="*{team.state}" required><br />

<input name="Submit" type="submit" value="submit" />
</form>
<br>
<a href="../viewAll">View All Players</a>

<br>
<footer>
 <p>Author: Uday Chinhamora
  <a href="mailto:uchinhamora@outlook.com">uchinhamora@outlook.com</a></p>

</footer>

</body>
</html>
